NEON_DB_URL=postgresql://user:pass@host/dbname
TABLE_NAME=your_data_source
BQ_PROJECT_ID=dataflow-sentinel
BQ_DATASET=your_dataset_name
BQ_TABLE=your_table_name
BQ_KEYFILE_PATH=D:\Dataflow-Sentinel\.gcp\key.json
