# --- DATABASE SETTINGS ---
# Neon PostgreSQL connection string
NEON_DB_URL=postgresql://user:pass@host/dbname

# Source table name in Neon DB
TABLE_NAME=your_data_source

# --- BIGQUERY SETTINGS ---
# Google Cloud Project ID
BQ_PROJECT_ID=dataflow-sentinel

# BigQuery destination dataset name
BQ_DATASET=your_dataset_name

# BigQuery destination table name
BQ_TABLE=your_table_name

# Path to GCP service account JSON key file
BQ_KEYFILE_PATH=D:\Dataflow-Sentinel\.gcp\key.json