# --- AIRFLOW SYSTEM SETTINGS ---
# Local system user ID
AIRFLOW_UID=your_system_user_id_here

# Root directory path for your Airflow project
AIRFLOW_PROJ_DIR=/path/to/your/local/Dataflow-Sentinel

# --- AIRFLOW SECURITY ---
# Encryption key for securing sensitive data like connection passwords
FERNET_KEY=your_generated_fernet_key_here

# SENTRY
SENTRY_DSN=your_dsn_here