NEON_DB_URL=postgresql://user:pass@host/dbname
GOLD_TABLE_NAME=gold_metrics
BQ_PROJECT_ID=dataflow-sentinel-dbt
BQ_DATASET=sentinel_raw
BQ_TABLE=gold_metrics_raw
BQ_KEYFILE_PATH=D:\Dataflow-Sentinel\.gcp\dataflow-sentinel-dbt-e24e25d8ed4c.json