# Python
__pycache__/
*.py[cod]
.pytest_cache/

# Virtual environments
.venv/
venv/
py_env/

# Environment files
.env
.env.docker
.env.airflow

# Logs
logs/
!.gitkeep

# Data layers
data/bronze/
data/silver/
data/gold/
